.header-section{
  display: flex;
  background: linear-gradient(to right, #f8f5fa, #1e506d);
}

.header-title {
  margin: 0;
  text-align: center;
  }   

.header-image {
float: left; /* or right */
margin-right: 10px; /* or left */
  }
 

body {
    font-family: Arial, sans-serif;
    padding: 1em;
  }


header h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  }

  p {
    font-size: 16px;
  }

  nav {
    margin-bottom: 1em;
  }
  
  section {
    margin-bottom: 1em;
  }
  
  section#overview {
    padding: 1em;
    background-color: #f9f9f9;
  }
  
  section#visualization {
    padding: 1em;
    background-color: #f9f9f9;
  }
  
  section#data {
    padding: 1em;
    background-color: #f9f9f9;
  }

  section#calculator {
    padding: 1em;
    background-color: #f9f9f9;
  }

  table.dataTable.nowrap {
    margin: 0 auto;
    width: 100%;
}

  table tbody tr {
    height: 10px;
    font-size: 16px;
  }

  table {
  font-size: 20px;
}

  tr {
    height: 20px;
  }

  td {
    font-size: 20px;
  }
  
  section#conclusion {
    padding: 1em;
    background-color: #f9f9f9;
  }
  
  footer {
    margin-top: 1em;
    padding: 1em;
    background-color: #f9f9f9;
    text-align: center;
  }

  #map {
    width: 100%;
    height: 600px;
  }

  .header-image {
    float: left; /* or right */
    margin-right: 10px; /* or left */
    max-width: 80px;
    max-height: 80px;
  }

  .header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f8f5fa, #1e506d);
}

  